body {
  font-family: Arial, sans-serif;
  background: #29466b;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  height: 300px;
  margin-top: 50px;
}

.login-container img{
  margin-bottom: 20px;
  margin-left: 30px;
  width: 75%;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 0;
  border-bottom: 2px solid rgb(72, 68, 68);
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #f09308;
  color: white;
  padding: 15px;
  width: 90%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 25px;
}

button:hover {
  background-color: #0056b3;
}

.forgot-register {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 10px;
}
.forgot-register a{
  color: rgb(24, 57, 187);
}

footer {
  width: 100%;
  height: 50px;
  background-color: #fff;
}