body{
    text-align: center;
}
.encabezado img{
    height:240px;
    margin: 3px;
}
nav{
    margin: 20px;
}
form{
    text-align: center;
}
form input{
    margin: 5px;
    width: 90%;
    height: 30px;
}
.checkbox{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.checkbox input{
    width: 20px;
    height: 20px;
    margin-left: 13px;
}
.checkbox img{
    width: 150px;
    margin-left: 50px;
}
form button{
    width: 92%;
    height: 50px;
    border: 0px;
}
footer img{
    height: 240px;
    margin-top: 20px;
}
